@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full viewport layout fix */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Remove Vite demo styles */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #020617; /* slate-950 */
  color: white;
}